<footer class="bg-gray-900 text-white py-8 px-8 text-center">
    <div class="flex justify-center space-x-6 mb-4">
      <a href="#" title="aa" class="text-white hover:text-orange-500 transition"><i class="fab fa-facebook-f"></i></a>
      <a href="#" title="aa" class="text-white hover:text-orange-500 transition"><i class="fab fa-twitter"></i></a>
      <a href="#" title="aa" class="text-white hover:text-orange-500 transition"><i class="fab fa-instagram"></i></a>
      <a href="#" title="aa" class="text-white hover:text-orange-500 transition"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <p class="text-gray-400 text-sm">&copy; 2025 VIEWS Investments. All rights reserved.</p>
  </footer>