nav {
    position: fixed;
    top: 33%;
    right: 20px;
    z-index: 50;
}

a {
    display: block;
    background-color: gray;
    color: white;
    border-radius: 0 9999px 9999px 0;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
}

a:hover {
    background-color: #ea580c;
}

.nav-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none; /* Remove underline */
}

.nav-circle:hover {
    background-color: #333333;
    transform: scale(1.1);
}

.nav-label {
    display: none;
    position: absolute;
    right: 70px;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-size: 1rem;
    white-space: nowrap;
    text-decoration: none; /* Remove underline */
}

.nav-circle:hover .nav-label {
    display: block;
}
